.date-picker-view {
  height: 100px;
}

.date-picker-view,
.date-picker-grid,
.date-picker-list {
  display: inline-block;
  overflow: hidden;
  width: 200px;
}

.date-picker-grid,
.date-picker-list {
  overflow: scroll;
}
