.toggle-switch {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.toggle-switch > input[type="radio"] {
  /* display: none; */
  background: green;
}

.toggle-switch > input[type="radio"]:checked + label {
  background: red;
}