.date-picker,
.date-picker * {
  box-sizing: border-box;
}

.date-picker {
  border: 1px solid red;
  display: inline-block;
  overflow: hidden;
}

.date-picker.date-picker-open {
  height: 100px;
}

.date-picker.date-picker-close {
  height: 0px;
}

.date-picker-view,
.date-picker-grid,
.date-picker-list {
  display: inline-block;
  width: 200px;
  height: 100px;
}

.date-picker-view {
  background-color: yellow;
}

.date-picker-grid {
  background-color: tomato;
}

.date-picker-list {
  background-color: thistle;
  position: relative;
}

.date-picker-grid, .date-picker-grid >.vd-container{
  background-color: slateblue;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.date-picker-grid > * {
  display: flex;
}

.continuous-scroll {
  background-color: turquoise;
}

.vd-container {
  background-color: tomato;
  position: relative;
  top: 0;
}

.vd-container > * {
  border: 1px solid blue;
}
