@import "./_defaults.css";
@import "./_structure.css";
@import "./_datePickerFrame.css";
@import "./_toggleSwitch.css";
@import "./_virtualDOM.css";

.date-picker-view {
  background-color: yellow;
}

.date-picker-grid {
  background-color: tomato;
}

.date-picker-list {
  background-color: thistle;
  position: relative;
}

.date-picker-grid,
.date-picker-grid > .vd-container {
  background-color: slateblue;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.date-picker-grid > * {
  display: flex;
}

